<div class="article">
	<h1><%= @article.title %></h1>

	<p><%= @article.body %></p>
	
	<button><%= link_to "Edit", edit_article_path(@article) %></button>
	<button><%= link_to "Delete", article_path(@article), 
			method: :delete,
        	data: { confirm: "Are you sure?" } %></button>
</div>

<br>

<h2>Comments</h2>
<%= render @article.comments %>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>