<div class="article">
	<h1 id=title><%= @article.title %></h1>

	<p id="article-body"><%= @article.body %></p>

	<%= button_to "Edit", edit_article_path(@article), class:"button", id:"left", method: :get %>
	<%= button_to "Delete", article_path(@article), class:"button",
			method: :delete,
        	data: { confirm: "Are you sure?" } %>
</div>

<br>

<h2>Comments</h2>
<%= render @article.comments %>

<div class="add-comment">
	<p style="font-weight: bold;">Add a comment:</p>
	<%= render 'comments/form' %>
</div>


