<!DOCTYPE html>
<html>
<head>
	<title>Cloverhound: Wes</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<div class=header>
		<h2 id=left>Cloverhound Blog: Wes</h2>

		<%= button_to "Home", root_path, class:"button" , id:"left", :method => "get" %>
		<%= button_to "New Article", new_article_path, class:"button", :method => "get" %>

	</div>

	<%= yield %>

</body>
</html>
